extends ../layout/app.pug

block title
  | Tournaments

block content
  h2 Tournaments 
  if currentUser
    a(href="/tournaments/new") New tournament
  div.card
    each tournament in tournaments
      article
        h3 #{tournament.name}
        p Subject: #{tournament.subject}
        p Starts at: #{tournament.startTime.toISOString().split('T')[0]}
        p Application deadline: #{tournament.applicationDeadline.toISOString().split('T')[0]}
        a(href=(`/tournaments?id=${tournament.id}`)) Show